/*------------------------------------TAGS----------------------*/
section div.table {
    overflow: auto;
    border: solid black 2px;
    border-collapse: collapse;
    max-height:60vh;
    min-height:60vh;

}


section div.table td{
    border: 1px solid black;
    padding:5px;
}


section div.table tr:first-child{
    font-weight: bold;
}


section div.typeAdminWork {
    width:100%;
}


section div.workForm {
    margin: 10px;
}


section div.workForm div {
    width:50%;
}


section div.workForm div * {
    width:95%;

}


section div.workForm div button {
    height: 5vh;
}


section div.workForm div input {
    height:5vh;

}


section div.workForm div select {
    height:5vh;

}


section div.addForm {
    min-height: 60vh;
}


section div.addForm  form textarea {
    width:90%;
    height:15vw;
    margin:0 5%;
    font-size: 2vw;
}


section div.addForm span{
    margin:5%;
    font-size: 2vw;
}


section div.addForm form input[type='file'] {
    width:50%;
    margin: 1% 5%;
}


section div.addForm form input[type='text'] {
    Width:50%;
    height:2vw;
    margin: 0 5%;
}


section div.addForm form label {
    font-size: 2.5vw;
}


section div.addForm form button {
    width:5vw;
    height:2vw;
}


section div.addForm form select {
    width:5vw;
    height: 2vw;
}