/*------------------------------------TAGS----------------------*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}


main{
    display: flex;
    justify-content: flex-end;
    width:100vw;
    overflow: auto;
    height:100vh;
}


section {
    margin-top: 2vh;
    width:60%;
    overflow: auto;
}


/*------------------------------------CLASS----------------------*/
.reg-sec form{
    display:flex;
    flex-direction: column;
    width:90%;
    height:60%;
    z-index:1;
}


.reg-sec form label{
    font-size: 7.5vh;
}


.reg-sec form input{
    height:10vh;
    margin-top: 2%;
    margin-left: 5%;
    width: 50vw;
    z-index:10;
    font-size: 4vw;
}


.reg-sec form button{
    width:40%;
    margin-top: 2%;
    height:5vh;
    text-transform: uppercase;
}


.reg-text{
    text-transform: uppercase;
    font-size: 10vh;
    transform: rotate(-20deg);

}


.reg-sec{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
