/*------------------------------------TAGS----------------------*/
* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}


main{
    display: flex;
    justify-content: flex-end;
    width:100vw;
    height:100vh;
}


section {
    width:68vw;
    margin: 5px;
    height:100%;
    overflow-y: auto;
    border: 2px solid black;
}


section div{
    min-height: 25vh;
}


video {
    width:98%;
    height:70vh;
    border: solid white 5px;
    margin: 50px auto;
}


/*------------------------------------CLASS----------------------*/
.image-article{
    justify-content: flex-end;
    width:100%;
    height: 50vh;
    overflow: hidden;
    background-size: cover;
}


.image-article div.text-image{
    height: 10vh;
    max-height: 10vh;
    min-height: 10vh;
    background-color: black;
    color: yellow;
    font-size: 10vh;
}


.article-info{
    max-height: 20vh;
    min-height: 20vh;
    padding: 10px;
}


.article-info div.info-item{
    max-height: 4vh;
    min-height: 4vh;
    font-size: 3vh;
}


.article-info input{
    width:3vw;
    height:3vh;
}