/*------------------------------------CLASS----------------------*/
.comment{
    background-color: grey;
    color:red;
    width:100%;
    height:10vh;
}


.comment textarea{
    width:96%;
    margin:1%;
    font-size: 5vh;
    height:30%;
}


.comment button{
    width:10vw;
    height:5vh;
    font-size: 3vh;
    margin-left:1%;
}


.comment span{
    color:black;
    font-size: 4vh;
}


.comment-item{
    border:1px solid white;
    width:100%;
    max-height: 20vh;
    min-height: 20vh;
    margin:1px;
}


.comment-info *{
    padding-left: 10px;
}


.comment-item .comment-info div{
    font-size: 2vw;
    min-height:10vh;
    max-height:10vh;
    width:25vw;
}


.comment-text{
    width:45vw;
    margin:5px;
    max-height: 90%;
    min-height: 90%;
    font-size:2vw;
}
