/*------------------------------------TAGS----------------------*/
header{
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:30vw;
    height:100vh;
}


header * {
    overflow: hidden;
}


header ul{
    list-style: none;
    padding: 5%;
}


header li {
    width:100%;
    font-size: 8vh;
}


header li:hover{
    background-color: yellow;
}


header input{
    width:100%;
    height:25%;
    font-size:5vh;
}


header button{
    width:100%;
    height:25%;
    font-size: 5vh;
}


header button:hover{
    text-decoration: line-through;
}


/*------------------------------------CLASS----------------------*/
.elem-header{
    width:100%;
    height:25%;
    margin-top: 10%;
}


.elem-header div{
    margin:10%;
    width:80%;
    height:50%;
    font-size: 5vw;
    text-align: center;
}


.elem-header div:hover {
    background-color: red;
}


.elem-header:hover{
    background-color: white;
}


.reg-elem{
    height:30%;
    padding: 1%;
}

