/*------------------------------------TAGS----------------------*/
form[class~='flex']{
    justify-content: flex-start;
    padding:2px;
    width:87%;
}


form[class~='flex'] button{
    width:45%;
    font-size: 5vh;
}


form[class~='flex'] select{
    width:25%;
    font-size: 4vh;
}


form[class~='flex'] input[type='text']{
    font-size: 10vh;
    width: 70vw;
}


/*------------------------------------CLASS----------------------*/
.search{
    min-height: 20vh;
    max-height: 25vh;
    width:80vw;
    filter:grayscale(0.5);
    opacity: 1;
    transition-duration: 1s;

}

.search:hover{
    filter:none;
}

