/*------------------------------------TAGS----------------------*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}


main {
    width:100vw;
    height:100vh;
    display: flex;
    overflow-y: hidden;
}


/*------------------------------------CLASS------------------------*/
.gallery >div.gallery-row{
    width:100%;
    filter:grayscale(0.8);
    transition-duration: 500ms;
    z-index: 0;
    min-height: 33vh;
}


.gallery .gallery-row:hover{
    z-index: 10;
    min-height: 45vh;
    filter:grayscale(0.3);

}


.gallery img{
    filter:grayscale(0.4);
}


.gallery img:hover {
    filter:grayscale(0);
    filter: contrast(1.1);
}


.picture{
    z-index: 10;
    height:45vh;
    width:18vw;
    max-height: 45vw;
    max-width: 18vw;
}


.picture:hover{
    z-index: 20;
}


.picture img {
    height:100%;
    width:100%;
}
