/*------------------------------------TAGS----------------------*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}


main{

    display: flex;
    justify-content: flex-end;
    height:100vh;
    width:100vw;
    overflow: hidden;
}


section {
    width:68vw;
    overflow-y: auto;
}


/*------------------------------------CLASS----------------------*/
.articles >div.row{
    width:100%;
    filter:grayscale(0.5);
    opacity: 1;
    transition-duration: 1s;
    flex-basis: 33vh;
    min-height: 30vh;

}


.articles:hover > div.row{
    width:100%;
    height:33%;
    min-height: 33vh;
    filter:none;
}


.articles{
    flex-basis: 70vw;
}


.article-content{
    flex-basis: 70vh;
    min-height: 70vh;
}


.article-item{
    width: 33%;
    height: 33%;
    transition-duration: 1s;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.article-item:hover{
    width:105%;
}


.article-item:hover .article-inner {
    height: 50%;
    font-size: 3vh;
    opacity: 1;
}


.article-item a{
    transition-duration: 1s;
}


.article-item a:hover{
    font-size: 10vh;
}


.article-item{
    width:33vw;
    height:33vh;
}


.article-inner{
    transition-duration: 1s;
    width: 100%;
    height: 30%;
    opacity: .5;
    z-index: 100;
}


.article-inner{
    display: flex;
    justify-content: flex-start;
}