/*------------------------------------CLASS----------------------*/
.message{
    background-color: grey;
    color:red;
    width:100%;

    min-height: 45vh;
    max-height: 45vh;
}


.message textarea{
    width:96%;
    margin:1%;
    font-size: 5vh;
    height:15vw;
}


.message button{
    width:10vw;
    height:5vh;
    font-size: 3vh;
    margin-left:1%;
}


.message span{
    color:black;
    font-size: 5vh;
}


.message input {
    margin-left:10px;
    height:5vh;
    font-size: 3.8vh;
}


.message label {
    margin-left:10px;
    font-size: 2vw;
}


.message-item{
    border:1px solid white;
    width:100%;
    max-height: 40vh;
    min-height: 40vh;
    margin:1px;
}


.message-info *{
    padding-left: 10px;
}


.message-item .message-info div{
    font-size: 2vw;
    min-height:10vh;
    max-height:10vh;
    width:25vw;
}


.message-text{
    width:45vw;
    margin:5px;
    max-height: 90%;
    min-height: 90%;
    font-size:2vw;
}


.message-sort-form {
    display:flex;
    flex-direction: column;
    width:50%;
    min-height: 50%;
    max-height: 50%;
}


.message-sort-form select{
    height:20%;
    font-size: 3vw;
}


.message-sort-form input[type='text']{
    height:20%;
    font-size: 3vw;
}

.message-sort-form button {
    height:20%;
    width:50%;
    font-size: 3vw;
}