/*------------------------------------TAGS----------------------*/
footer{
    overflow: hidden;
    background-color: black;
    width: 90vw;
    height: 25vh;
    color:white;
    display: flex;
    justify-content: flex-end;
}

footer div {
    max-height: 25vh;
    min-height: 20vh;
    width:60vw;
    margin:10px;
    height: 10vh;
    background-color: grey;
}
