/*------------------------------------TAGS----------------------*/
a{
    text-decoration: none;
    color:black;
}


a:hover{
    text-decoration: line-through;
}


/*------------------------------------CLASS----------------------*/
.text-vert{
    writing-mode: vertical-lr;
    word-wrap: break-word;
    position:relative;
}


.text-color-white{
    color:white;
}


.black-bg{
    background-color:black;
}


.yellow-bg{
    background-color: yellow;
}


.red-bg{
    background-color: red;
}


.blue-bg{
    background-color: blue;
}


.white-bg{
    background-color: white;
}


.grey-bg{
    background-color: lightgray;
}


.flex{
    display:flex;
}


.column{
    flex-direction: column;
}


.text{
    margin:1vw;
}


.text-hor{
    margin-left:10vw;
}

.left-picture{
    float:left;
}
