/*------------------------------------TAGS----------------------*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}


main {
    width:100vw;
    height:100vh;
    display: flex;
}


/*------------------------------------CLASS----------------------*/
.section-menu{
    height:100vh;
    display: flex;
}


.section-menu div{
    width:15vw;
}


.section-menu div div{
    z-index: 10;
    width:5vw;
    font-size: 2.5vw;
    writing-mode: vertical-rl;
    word-wrap: break-word;
    position:relative;
    left:15%;
    top:40vh;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.main-placeholder{
    width:70vw;
    height:100vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:10vw;
}


.block{
    width:10vw;
    height:100vh;
    position: absolute;
}


.block div{
    width:5vw;
    margin:2vw;
    height:100vw;
}


.block div div{
    width:2vw;
    margin:0.5vw;
    height:100vw;
}


.block div div div{
    width:5vw;
    margin:0.5vw;
    height:100vw;
}


.blocks-black{

    position: absolute;
    width:10vw;
    height:100vh;
    right:5vw;
    bottom:30vh;
}


.blocks-red{
    position: absolute;
    width:10vw;
    height:100vh;
    right:0;
    bottom:20vh;
}


.blocks-blue{
    position: absolute;
    width:10vw;
    height:100vh;
    right:-3vw;
    bottom:0;
}


.first{
    z-index: 5;
    position: absolute;
    top:2vw;
    right:20vw;
}


.second{
    z-index: 6;
    position: absolute;
    top:6vw;
    right:25vw;
}


.third{
    z-index: 7;
    position: absolute;
    top:10vw;
    right:30vw;
}


.text-frame{
    font-size:2vw;
    margin-left: 15vw;
    text-shadow: 1px 0 1px black,
    0 1px 1px black,
    -1px 0 1px black,
    0 -1px 1px black;
}


.picture{
    height:45vh;
    width:18vw;
    max-height: 45vw;
    max-width: 18vw;
}


.picture img {
    height:100%;
    width:100%;
}

