/*------------------------------------TAGS----------------------*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}


main {
    width:100vw;
    height:100vh;
    display: flex;
}


/*------------------------------------CLASS----------------------*/
.main-404{
    display: flex;
    justify-content: center;
    background-color: red;
    width:100vw;
    height:100vh;
}


.main-404 div{
    width:33vw;
    height:33vh;
    margin: auto;
}


.main-404 div div{
    text-align: center;
    font-size: 8vh;
    text-transform: uppercase;
}


.main-404 div img{
    width:100%;
    height:100%;
}